<div class-"col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />
  <p>
    Splurty was built by Brita Ulf, a San Francisco resident of 4 years. Brita resides in the Outer Sunset distric of San Francisco in an apartment with her sister. They live on the final block as the city reaches the ocean, where a constant battle wages as sand dunes creep up over Great Highway to reclaim the city. 
  </p>
  
  <br />
  
  <p>
    Like all good San Franciscans, Brita's love for the city and the Bay Area is meddled with mockery at how ridiculous San Francisco can in fact be. 
  </p>

  <br />

  <p>
    Splurty is an hommage to all things San Francisco, from Pacific sunsets behind Golden Gate Bridge to $8 toast. Read, enjoy, and scoff at it.
  </p>

  <br />

  <div class="row">
    
    <div class="col-12 col-sm-4">
      
      <%= image_tag 'brita.jpg', class: 'img-fluid' %>
    
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      
      <h2 class="text-center">Brita Ulf</h2>
      
      <br />
     
      <p>
        Brita Ulf is a creator and outdoor enthusiast who loves learning new skills and always taking on one too many projects
      
      </p>
    
    </div>

</div>

<br class="clear" />
<br />
<br />
<br />